body { font-family: 'Droid Serif'; }
h1, h2, h3, h4 {
  font-family: 'Yanone Kaffeesatz';
  font-weight: normal;
}
.remark-code, .remark-inline-code {
  font-family: 'Ubuntu Mono';
  font-size: 24px;
}

.remark-notes .remark-code,
.remark-notes .remark-inline-code {
  font-size: inherit;
}

h1 .remark-inline-code,
h2 .remark-inline-code,
h3 .remark-inline-code,
h4 .remark-inline-code {
  font-size: inherit;
}

.remark-slide-content {
  background-size: contain;
}

.compiler-error {
  font-family: 'Ubuntu Mono';
  font-size: 24px;
  border: 1px solid rgba(255, 0, 0, 0.1);
  padding: 0.5em;
  background-color: rgba(255, 0, 0, 0.05);
}
.compiler-error--small {
  font-size: 20px;
}

.code-splash .remark-code {
  font-size: 36px;
}

.output-success {
  background: aliceblue;
  padding: 0.5em
}

.bullets-7x7 { font-size: 1.5em; }
.bullets-7x7 li { margin: 1em 0; }
.bullets-7x7 .remark-slide-number { font-size: 20px; }

.full-image { width: 100%; }

blockquote {
  margin: 0;
  padding: 0.1em 1em;
  font-size: 1.2em;
  background: #fffce2;
  text-align: justify;
  border-left: 1em solid #f3e573;
}

.long-quote blockquote {
  font-size: 1.1em;
}

.kirby {
  width: 60%;
}
